{{plugin-outlet "above-site-header"}}
{{site-header canSignUp=canSignUp
              showCreateAccount=(action "appRouteAction" "showCreateAccount")
              showLogin=(action "appRouteAction" "showLogin")
              showKeyboard=(action "appRouteAction" "showKeyboardShortcutsHelp")
              toggleMobileView=(action "appRouteAction" "toggleMobileView")
              toggleAnonymous=(action "appRouteAction" "toggleAnonymous")
              logout=(action "appRouteAction" "logout")}}
{{plugin-outlet "below-site-header"}}

<div id="main-outlet">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-1 col-lg-6 offset-lg-2">
        {{#if showTop}}
          {{custom-html "top"}}
        {{/if}}
        {{global-notice}}
        {{create-topics-notice}}
      </div>
    </div>
  </div>
  {{outlet}}
  {{render "user-card"}}
</div>

{{plugin-outlet name="above-footer" args=(hash showFooter=showFooter)}}
{{#if showFooter}}
  {{custom-html name="footer"}}
{{/if}}
{{plugin-outlet name="below-footer" args=(hash showFooter=showFooter)}}

{{outlet "modal"}}
{{topic-entrance}}
{{outlet "composer"}}
