<div class="card">
  <div class="card-block">
    {{#if topic.thumbnails}}
      <div class="pull-xs-right m-l-1">
        <img src="{{topic.thumbnails.normal}}" alt="" width="190" height="190" />
      </div>
    {{/if}}
    {{#if showTopicPostBadges}}
      <div class="pull-xs-right m-l-1">
        {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl}}
      </div>
    {{/if}}
    {{topic-link topic}}
    <div class="card-meta-data">
      <span>
        <a href="{{topic.author.name}}" data-user-card="{{topic.author.name}}">
          <img alt="Avatar" width="45" height="45" src="{{topic.author.avatar_url}}" class="avatar" />
        </a>
      </span>
      <span>
        <a href="/users/{{topic.author.username}}" data-user-card="{{topic.author.username}}">
          <strong>
            {{topic.author.name}}
          </strong>
        </a>
      </span>
      <span>
        {{#if topic.author.title}}
          <span class="separator">–</span>
          <span>
            {{topic.author.title}}
          <span>
        {{/if}}
      </span>
      <div class="text-muted">
        {{format-date topic.created_at leaveAgo="true"}}
      </div>
    </div>
    {{#if topic.hasExcerpt}}
      <p class="card-text">
        {{{topic.excerpt}}}
        {{#if topic.excerptTruncated}}
          <br />
          <a href="{{topic-link-path topic}}">
            <strong>
              {{i18n 'read_more'}}
            </strong>
          </a>
        {{/if}}
      </p>
    {{/if}}
    <ul class="list-inline m-b-0">
      <li class="list-inline-item font-weight-bold">
        <a href="{{topic-link-path topic}}">
          {{topic.replyCount}}
          <span class="action">
            Répondre
          </span>
        </a>
      </li>
      {{#if showPosters}}
        <li class="list-inline-item font-weight-bold">
          <a href="{{topic-link-path topic}}">
            <i class="fa fa-heart-o"></i>
            {{topic.posters.length}}
          </a>
        </li>
      {{/if}}
      {{#unless hideCategory}}
        {{#unless topic.isPinnedUncategorized}}
          <li class="list-inline-item">
            <a href="{{topic.category.url}}">
              <span class="tag tag-default font-weight-bold">
                {{topic.category.name}}
              </span>
            </a>
          </li>
        {{/unless}}
      {{/unless}}
    </ul>
  </div>
</div>
