<section class='category-heading'>
  {{#if category.logo_url}}
    {{cdn-img src=category.logo_url class="category-logo"}}
    {{#if category.description}}
      <p>{{{category.description}}}</p>
    {{/if}}
  {{/if}}
</section>

<div class='m-b-1'>
  <span class="tag tag-default">
    {{category.name}}
  </span>

  {{#if canEditCategory}}
    {{d-button class="btn-default edit-category" action="editCategory" actionParam=category icon="wrench" label="category.edit_long"}}
  {{/if}}

  {{#if currentUser}}
    {{category-notifications-button category=category}}
  {{/if}}

  <div hidden data-composer-category-id="{{category.id}}">
    {{#if canCreateTopic}}
      {{d-button  id="create-topic"
                  class="btn-default"
                  action="createTopic"
                  icon="plus"
                  label="topic.create"
                  disabled=cannotCreateTopicOnCategory}}
    {{/if}}
  </div>
</div>

<div class='category-navigation'>
  {{lrqdo-navigation-bar navItems=navItems filterMode=filterMode}}
</div>
